{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login-container">
  <h1>Create your post...</h1>
  <div class="container">
    <div class="row">
        <div class="col-md-6">

            <form class="main-login" method="POST" action="" >
                {% csrf_token %}
                {% if message %}
                    <h1 class="error-message">{{message}}</h1>
                {% endif %}
                <div>
                    
                    <input type="text" id="title" name="title" placeholder="Post Title" class="form-control" /><br>
                    <textarea type="text" id="description" name="description" placeholder="Post description" cols="20" rows="5" class="form-control"></textarea><br>
                </div>
                <input type="submit" value="Create" class="btn btn-success btn-lg">
            </form>


        </div>
    </div>
  </div>
    
</div>

{% endblock %}
